In [26]:
import datetime as dt
from collections import OrderedDict
from pathlib import Path
import sys
import os

from dotenv import load_dotenv, find_dotenv

ROOT = Path('../')
DATA_DIR = ROOT/'tests'/'data'
OUT_DIR = ROOT/'output'

sys.path.append(str(ROOT))

%load_ext autoreload
%autoreload 2

import countdowner as cd

load_dotenv(find_dotenv())

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

True

In [17]:
# Read a watchlist

w = cd.read_watchlist(DATA_DIR/'watchlist.yaml')
w

{'name': 'test',
 'email_addresses': ['brainbummer@mailinator.com', 'rhymedude@mailinator.com'],
 'products':     description       stock_code
 0   Brazil nuts           363477
 1  GB chocolate           260803
 2          fake  fake_stock_code
 3        cheese           281739}

In [18]:
# Get and parse a product

code = w['products']['stock_code'].iat[0]
response = cd.get_product(code)
cd.parse_product(response)

OrderedDict([('stock_code', '363477'),
             ('name', 'Ceres Organics Brazil Nuts 250g'),
             ('description',
              "Ceres organics brazil nuts are sourced from the pristine forests of the amazon, where they're sustainably grown and harvested. They're carefully selected, shelled and dried with minimal processing, to retain their natural goodness. Packed with the antioxidant selenium and a good source of the essential mineral magnesium, they make a nutritious snack. You can also enjoy their creamy, nutty deliciousness in salads, hot or cold cereals, or baked goods."),
             ('size', '250g'),
             ('sale_price', 13.4),
             ('price', 14.2),
             ('discount_percentage', 5.6),
             ('unit_price', '$5.36/100G'),
             ('datetime', '2020-06-11T17:35:22')])

In [19]:
# Get and parse many products

codes = w['products']['stock_code'].values
%time f = cd.collect_products(codes)
f

CPU times: user 266 ms, sys: 24.8 ms, total: 291 ms
Wall time: 1 s

,stock_code,name,description,size,sale_price,price,discount_percentage,unit_price,datetime
0,363477,Ceres Organics Brazil Nuts 250g,Ceres organics brazil nuts are sourced from th...,250g,13.4,14.2,5.6,$5.36/100G,2020-06-11 17:35:23
1,260803,None,None,None,NaN,NaN,NaN,None,2020-06-11 17:35:23
2,fake_stock_code,None,None,None,NaN,NaN,NaN,None,2020-06-11 17:35:23
3,281739,Mainland Cheese Block Organic Cheddar 500g,Mainland organic cheddar is a mild cheddar che...,500g,NaN,16.0,NaN,$32.00/1KG,2020-06-11 17:35:24

In [20]:
# Filter sales

cd.filter_sales(f)

                              name  sale_price  price  discount_percentage
0  Ceres Organics Brazil Nuts 250g        13.4   14.2                  5.6

In [31]:
# Email sales

domain = os.getenv('MAILGUN_DOMAIN') # replace with your Mailgun domain
key = os.getenv('MAILGUN_KEY') # replace with your Mailgun API key
cd.email(f, ['brainbummer@mailinator.com'], domain, key)

In [29]:
# Get products in bulk

cd.run_pipeline(DATA_DIR/'watchlist.yaml')

,stock_code,name,description,size,sale_price,price,discount_percentage,unit_price,datetime
0,363477,Ceres Organics Brazil Nuts 250g,Ceres organics brazil nuts are sourced from th...,250g,13.4,14.2,5.6,$5.36/100G,2020-06-11 17:38:22
1,260803,None,None,None,NaN,NaN,NaN,None,2020-06-11 17:38:23
2,fake_stock_code,None,None,None,NaN,NaN,NaN,None,2020-06-11 17:38:23
3,281739,Mainland Cheese Block Organic Cheddar 500g,Mainland organic cheddar is a mild cheddar che...,500g,NaN,16.0,NaN,$32.00/1KG,2020-06-11 17:38:23

In [30]:
# Run pipeline again: read watchlist, collect products, write products to file, 
# filter sales, and email results

cd.run_pipeline(DATA_DIR/'watchlist.yaml', OUT_DIR/'products.csv', domain, key)
%less {OUT_DIR/'products.csv'}